{% extends 'appgaleria/padre.html' %}
{% block content %}
{% load static %}
<h1>Perfil</h1>
{% if request.user.is_authenticated %} 
<a class="btn btn-success m-1" >Actualizar obra</a>
<a class="btn btn-primary m-1" >Eliminar obra</a>
{% endif %}
<ul>
    {% if request.user.is_authenticated %}
    {% endif %}  
    {% if mas_datos.avatar %}
   <img src="{{ avatar.imagen.url }}" alt="Avatar de {{ request.user.username }}" width="250" height="250" >
    {% endif %}    
    <img src="{{ avatar.imagen.url }}" alt="Avatar de {{ request.user.username }}" width="250" height="250" > 
    <p><b>Nombre:</b> {{ request.user.first_name }} {{ request.user.last_name }} </p>
        <p><b>Usuario:</b> {{ request.user.username }}  </p>       
            <p><b>Mail:</b> {{ request.user.email }}  </p>
                <p><b>Link:</b> {{ mas_datos.link }}   </p>
                    <p><b>Bio:</b> {{ mas_datos.bio }}</p>
</ul>
{% endblock content %}