{% extends 'appgaleria/padre.html' %}
{% block content %}
{% load static %}
<h1>Perfil</h1>
{% if request.user.is_authenticated %} 
<a class="btn btn-success m-1" a href="{% url 'actualizar' user.id %}">Actualizar perfil</a>
<a class="btn btn-primary m-1"a href="{% url 'eliminar' user.id %}">Eliminar perfil</a>
{% endif %}
<ul>
    {% if request.user.is_authenticated %}
    {% endif %}                  </ul>
                <ul>
<body>
    {% if avatar_usuario %}
    <img src="{{ avatar_usuario.imagen.url }}" alt="Avatar de {{ request.user.username }}" width="250" height="250"> 
   {% endif %}
    <p><h3><b>Usuario:</b> {{ user.username }} </h3></p>  
    <p><b>Nombre Completo:</b>{{ user.first_name }} {{ user.last_name }}</p> 
    <p><strong>Mail:</strong> {{ user.email}}</p>
</body>
</ul>
</html>
{% endblock content %}