{% extends 'appgaleria/padre.html' %}
{% block content %}
<div class="container">
{% if request.user.is_authenticated %} 
    <a class="btn btn-outline-dark mt-5" href={% url 'registro_obra' %}>Agregar Obra</a>
{% endif %}
    <a class="btn btn-outline-dark mt-5" href={% url 'buscarartista' %}>Buscar Artista</a>
</div>
    {% for obra in obras %}
        <div class="col-lg p-1">
            <div class="card bg-light">
                <div class="card-body">
                    <h4><b>{{obra.titulo}}</b></h4>de {{obra.artista}}<br>
                    <img src="{{obra.fotoobra.url}}" alt="{{obra.titulo}}" width="400" class="img-fluid"><br>
                    <a class="btn btn-outline-dark mt-5" href= {% url 'detalleobra' obra.id %} >Ver mas</a>   
                    <p> {% if request.user.is_authenticated %} 
                        <div class="btn-group" role="group">
                            <a class="btn btn-success m-1" a href="{% url 'editarobra' obra.id %}">Actualizar obra</a>
                            <a class="btn btn-primary m-1" a href="{% url 'obraeliminar' obra.id %}">Eliminar obra</a>
                        </div>
                        {% endif %} </p>   
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

